<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Mundial de Fútbol 1986 - Calendario</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/partidos">Partidos</a></li>
      <li><a href="/jugadores">Jugadores Destacados</a></li>
      <li><a href="/estadios">Estadios</a></li>
      <li><a href="/calendario">Calendario</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h2>Calendario de Partidos</h2>
      <p>Aquí encontrarás información sobre el calendario de los partidos del Mundial de Fútbol 1986:</p>
      <ul>
        <li><a href="#grupo-a">Grupo A</a></li>
        <li><a href="#grupo-b">Grupo B</a></li>
        <li><a href="#grupo-c">Grupo C</a></li>
        <li><a href="#grupo-d">Grupo D</a></li>
        <li><a href="#grupo-e">Grupo E</a></li>
        <li><a href="#grupo-f">Grupo F</a></li>
        <li><a href="#octavos">Octavos de Final</a></li>
        <li><a href="#cuartos">Cuartos de Final</a></li>
        <li><a href="#semifinales">Semifinales</a></li>
        <li><a href="#tercer-lugar">Tercer Lugar</a></li>
        <li><a href="#final">Final</a></li>
      </ul>
    </section>
    <section id="grupo-a">
        <h2>Calendario Grupo A</h2>
        <table border= '5' width='70%'>
          <tr> 
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>31 de mayo de 1986</td>
            <td>Italia vs. Bulgaria</td>
            <td>1-1</td>
          </tr>
          <tr>
            <td>1 de junio de 1986</td>
            <td>Argentina vs. Corea del Sur</td>
            <td>3-1</td>
          </tr>
          <tr>
            <td>5 de junio de 1986</td>
            <td>Italia vs. Argentina</td>
            <td>1-1</td>
          </tr>
          <tr>
            <td>6 de junio de 1986</td>
            <td>Bulgaria vs. Corea del Sur</td>
            <td>1-1</td>
          </tr>
          <tr>
            <td>10 de junio de 1986</td>
            <td>Italia vs. Corea del Sur</td>
            <td>3-2</td>
          </tr>
          <tr>
            <td>11 de junio de 1986</td>
            <td>Argentina vs. Bulgaria</td>
            <td>2-0</td>
          </tr>
        </table>
      </section>
      <section id="grupo-b">
        <h2>Calendario Grupo B</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>2 de junio de 1986</td>
            <td>México vs. Bélgica</td>
            <td>2-1</td>
          </tr>
          <tr>
            <td>3 de junio de 1986</td>
            <td>Paraguay vs. Irak</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>7 de junio de 1986</td>
            <td>Bélgica vs. Paraguay</td>
            <td>2-1</td>
          </tr>
          <tr>
            <td>8 de junio de 1986</td>
            <td>México vs. Irak</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>12 de junio de 1986</td>
            <td>Bélgica vs. Irak</td>
            <td>2-1</td>
          </tr>
          <tr>
            <td>13 de junio de 1986</td>
            <td>México vs. Paraguay</td>
            <td>1-1</td>
          </tr>
        </table>
      </section>
      <section id="grupo-c">
        <h2>Calendario Grupo C</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>1 de junio de 1986</td>
            <td>Canadá vs. Francia</td>
            <td>0-1</td>
          </tr>
          <tr>
            <td>2 de junio de 1986</td>
            <td>Hungría vs. URSS</td>
            <td>0-6</td>
          </tr>
          <tr>
            <td>6 de junio de 1986</td>
            <td>Francia vs. URSS</td>
            <td>1-1</td>
          </tr>
          <tr>
            <td>8 de junio de 1986</td>
            <td>Hungría vs. Canadá</td>
            <td>2-0</td>
          </tr>
          <tr>
            <td>12 de junio de 1986</td>
            <td>Francia vs. Hungría</td>
            <td>3-0</td>
          </tr>
          <tr>
            <td>15 de junio de 1986</td>
            <td>URSS vs. Canadá</td>
            <td>2-0</td>
          </tr>
        </table>
      </section>
      <section id="grupo-d">
        <h2>Calendario Grupo D</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>3 de junio de 1986</td>
            <td>Brasil vs. España</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>4 de junio de 1986</td>
            <td>Argelia vs. Irlanda del Norte</td>
            <td>1-1</td>
          </tr>
          <tr>
            <td>7 de junio de 1986</td>
            <td>Brasil vs. Argelia</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>8 de junio de 1986</td>
            <td>España vs. Irlanda del Norte</td>
            <td>2-1</td>
          </tr>
          <tr>
            <td>12 de junio de 1986</td>
            <td>España vs. Brasil</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>13 de junio de 1986</td>
            <td>Irlanda del Norte vs. Argelia</td>
            <td>1-1</td>
          </tr>
        </table>
      </section>
      <section id="grupo-e">
        <h2>Calendario Grupo E</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>1 de junio de 1986</td>
            <td>Inglaterra vs. Portugal</td>
            <td>0-1</td>
          </tr>
          <tr>
            <td>2 de junio de 1986</td>
            <td>Marruecos vs. Polonia</td>
            <td>0-0</td>
          </tr>
          <tr>
            <td>6 de junio de 1986</td>
            <td>Inglaterra vs. Marruecos</td>
            <td>0-0</td>
          </tr>
          <tr>
            <td>7 de junio de 1986</td>
            <td>Polonia vs. Portugal</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>11 de junio de 1986</td>
            <td>Inglaterra vs. Polonia</td>
            <td>3-0</td>
          </tr>
          <tr>
            <td>12 de junio de 1986</td>
            <td>Portugal vs. Marruecos</td>
            <td>3-1</td>
          </tr>
        </table>
      </section>
      <section id="grupo-f">
        <h2>Calendario Grupo F</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>3 de junio de 1986</td>
            <td>Uruguay vs. Dinamarca</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>5 de junio de 1986</td>
            <td>Escocia vs. Nueva Zelanda</td>
            <td>5-2</td>
          </tr>
          <tr>
            <td>8 de junio de 1986</td>
            <td>Uruguay vs. Escocia</td>
            <td>0-0</td>
          </tr>
          <tr>
            <td>11 de junio de 1986</td>
            <td>Dinamarca vs. Nueva Zelanda</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>15 de junio de 1986</td>
            <td>Dinamarca vs. Escocia</td>
            <td>2-0</td>
          </tr>
          <tr>
            <td>15 de junio de 1986</td>
            <td>Uruguay vs. Nueva Zelanda</td>
            <td>2-1</td>
          </tr>
        </table>
      </section>
      <section>
        <h2>Calendario Eliminatorias</h2>
      </section>
      <section id="octavos">
        <h2>Octavos de final</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>16 de junio de 1986</td>
            <td>Polonia vs. Brasil</td>
            <td>0-4</td>
          </tr>
          <tr>
            <td>16 de junio de 1986</td>
            <td>Marruecos vs. Alemania Federal</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>17 de junio de 1986</td>
            <td>Argentina vs. Uruguay</td>
            <td>1-0</td>
          </tr>
          <tr>
            <td>17 de junio de 1986</td>
            <td>Inglaterra vs. Paraguay</td>
            <td>3-0</td>
          </tr>
          <tr>
            <td>18 de junio de 1986</td>
            <td>Francia vs. Italia</td>
            <td>2-0</td>
          </tr>
          <tr>
            <td>18 de junio de 1986</td>
            <td>México vs. Bulgaria</td>
            <td>2-0</td>
          </tr>
          <tr>
            <td>19 de junio de 1986</td>
            <td>España vs. Dinamarca</td>
            <td>5-1</td>
          </tr>
          <tr>
            <td>19 de junio de 1986</td>
            <td>Bélgica vs. URSS</td>
            <td>1-1</td>
          </tr>
        </table>
      </section>
      <section id="cuartos">
        <h2>Cuartos de final</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>21 de junio de 1986</td>
            <td>Argentina vs. Inglaterra</td>
            <td>2-1</td>
          </tr>
          <tr>
            <td>21 de junio de 1986</td>
            <td>Francia vs. Brasil</td>
            <td>1-1</td>
          </tr>
          <tr>
            <td>22 de junio de 1986</td>
            <td>México vs. Alemania Federal</td>
            <td>0-0</td>
          </tr>
          <tr>
            <td>22 de junio de 1986</td>
            <td>Bélgica vs. España</td>
            <td>1-1</td>
          </tr>
        </table>
      </section>
      <section id="semifinales">
        <h2>Semifinales</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>25 de junio de 1986</td>
            <td>Argentina vs. Bélgica</td>
            <td>2-0</td>
          </tr>
          <tr>
            <td>25 de junio de 1986</td>
            <td>Francia vs. Alemania Federal</td>
            <td>0-2</td>
          </tr>
        </table>
      </section>
      <section id="tercer-lugar">
        <h2>Tercer lugar</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>28 de junio de 1986</td>
            <td>Bélgica vs. Francia</td>
            <td>2-4</td>
          </tr>
        </table>
      </section>
      <section id="final">
        <h2>Final</h2>
        <table>
          <tr>
            <th>Fecha</th>
            <th>Equipos</th>
            <th>Resultado</th>
          </tr>
          <tr>
            <td>29 de junio de 1986</td>
            <td>Argentina vs. Alemania Federal</td>
            <td>3-2</td>
          </tr>
      </table>
      </section>
  </main>
  <footer>
    <p>Derechos de autor &copy; 2023 Página de deportes</p>
  </footer>
</body>
</html>