<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Mundial de Fútbol 1986 - Estadios</h1>
  </header>
  <nav>
    <ul>
      <li><a class="cambio pagina" href="/">Inicio</a></li>
      <li><a class="cambio pagina" href="/partidos">Partidos</a></li>
      <li><a class="cambio pagina" href="/jugadores">Jugadores Destacados</a></li>
      <li><a class="cambio pagina" href="/estadios">Estadios</a></li>
      <li><a class="cambio pagina" href="/calendario">Calendario</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h2>Estadios</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
      <ul>
        <li><a href="#estadio-azteca">Estadio Azteca</a></li>
        <li><a href="#estadio-corregidora">Estadio Corregidora</a></li>
        <li><a href="#estadio-cuauhtémoc">Estadio Cuauhtémoc</a></li>
        <li><a href="#estadio-jalisco">Estadio Jalisco</a></li>
        <li><a href="#estadio-león">Estadio León</a></li>
        <li><a href="#estadio-nemesio">Estadio Nemesio Díez</a></li>
        <li><a href="#estadio-olímpico">Estadio Olímpico Universitario</a></li>
        <li><a href="#estadio-sergio">Estadio Sergio León Chávez</a></li>
        <li><a href="#estadio-tecnológico">Estadio Tecnológico</a></li>
        <li><a href="#estadio-tres">Estadio Tres de Marzo</a></li>
        <li><a href="#estadio-universidad">Estadio Universidad Tecnológica de Nezahualcóyotl</a></li>
        <li><a href="#estadio-universitario">Estadio Universitario (UANL)</a></li>
      </ul>
    </section>
    <section id="estadio-azteca">
      <h2>Estadio Azteca</h2>
      <p>El Estadio Azteca fue inaugurado el 29 de mayo de 1966 con un partido entre el Club América y el Torino Fútbol Club de Italia.
         Fue diseñado por los arquitectos Pedro Ramírez Vázquez y Rafael Mijares Alcérreca, e inició su construcción en 1962 como parte
         del proyecto para obtener la sede de la Copa Mundial de Fútbol de 1970.</p>
      <p>El Estadio Azteca tiene una capacidad para 87,000 espectadores, siendo así el más grande de México, el más grande de América y
         el octavo del mundo</p>
      <ul>
        <li>Capacidad en el Mundial: 115,000 espectadores</li>
        <li>Partidos acogidos en Mundial:</li>
        <p>    - México vs. Bélgica (Grupo B)
               - Paraguay vs. Irak (Grupo B)
               - Bélgica vs. Irak (Grupo B)
               - México vs. Paraguay (Grupo B)
               - Inglaterra vs. Polonia (Grupo F)
               - Marruecos vs. Portugal (Grupo F)
               - Polonia vs. Marruecos (Grupo F)
               - Inglaterra vs. Paraguay (Grupo F)
               - Argentina vs. Corea del Sur (Octavos de Final)
               - Inglaterra vs. Argentina (Cuartos de Final)
               - Francia vs. Brasil (Cuartos de Final)
               - Argentina vs. Bélgica (Semifinales)
               - Alemania Federal vs. Francia (Semifinales)
               - Argentina vs. Alemania Federal (Final)</p>
      </ul>
    </section>
    <section id="estadio-corregidora">
      <h2>Estadio Corregidora</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-cuauhtémoc">
      <h2>Estadio Cuauhtémoc</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-jalisco">
      <h2>Estadio Jalisco</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-león">
      <h2>Estadio León</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-nemesio">
      <h2>Estadio Nemesio Díez</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-olímpico">
      <h2>Estadio Olímpico Universitario</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-sergio">
      <h2>Estadio Sergio León Chávez</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-tecnológico">
      <h2>Estadio Tecnológico</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-tres">
      <h2>Estadio Tres de Marzo</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-universidad">
      <h2>Estadio Universidad Tecnológica de Nezahualcóyotl</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
    <section id="estadio-universitario">
      <h2>Estadio Universitario (UANL)</h2>
      <p>Aquí encontrarás información sobre los estadios utilizados en el Mundial de Fútbol 1986:</p>
    </section>
  </main>
  <footer>
    <p>Derechos de autor &copy; 2023 Página de deportes</p>
  </footer>
</body>
</html>