<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/partidos">Partidos</a></li>
      <li><a href="/jugadores">Jugadores Destacados</a></li>
      <li><a href="/estadios">Estadios</a></li>
      <li><a href="/calendario">Calendario</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h2>Bienvenido al Mundial de Fútbol 1986</h2>
      <p>El Mundial de Fútbol de 1986, celebrado en México, fue uno de los torneos más recordados en la historia del fútbol.</p>
      <p>...</p>
    </section>

    <section>
      <h2>Grupos</h2>
      <table>
        <tr>
          <th>Grupo A</th>
          <th>Grupo B</th>
          <th>Grupo C</th>
          <th>Grupo D</th>
          <th>Grupo E</th>
          <th>Grupo F</th>
        </tr>
        <tr>
          <td>Argentina</td>
          <td>Bélgica</td>
          <td>Canadá</td>
          <td>Argelia</td>
          <td>Dinamarca</td>
          <td>Inglaterra</td>
        </tr>
        <tr>
          <td>Bulgaria</td>
          <td>Irak</td>
          <td>Francia</td>
          <td>Brasil</td>
          <td>Escocia</td>
          <td>Marruecos</td>
        </tr>
        <tr>
          <td>Italia</td>
          <td>México</td>
          <td>Hungría</td>
          <td>Irlanda del Norte</td>
          <td>Uruguay</td>
          <td>Polonia</td>
        </tr>
        <tr>
          <td>Corea del Sur</td>
          <td>Paraguay</td>
          <td>Unión Soviética</td>
          <td>España</td>
          <td>Alemania Federal</td>
          <td>Portugal</td>
        </tr>
      </table>
    </section>

    <section>
      <h2>Calendario</h2>
      <table>
        <tr>
          <th>Fecha</th>
          <th>Equipos</th>
          <th>Resultado</th>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
      </table>
    </section>
  </main>
  <footer>
    <p>Derechos de autor &copy; 2023 Página de deportes</p>
  </footer>
</body>
</html>