<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Mundial de Fútbol 1986 - Jugadores destacados</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/partidos">Partidos</a></li>
      <li><a href="/jugadores">Jugadores Destacados</a></li>
      <li><a href="/estadios">Estadios</a></li>
      <li><a href="/calendario">Calendario</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h2>Jugadores destacados</h2>
      <p>Aquí encontrarás información sobre los jugadores destacados del Mundial de Fútbol 1986:</p>
      <ul>
        <li>Jugador 1</li>
        <li>Jugador 2</li>
        <li>Jugador 3</li>
      </ul>
    </section>
  </main>
  <footer>
    <p>Derechos de autor &copy; 2023 Página de deportes</p>
  </footer>
</body>
</html>