<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Mundial de Fútbol 1986 - Partidos</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/partidos">Partidos</a></li>
      <li><a href="/jugadores">Jugadores Destacados</a></li>
      <li><a href="/estadios">Estadios</a></li>
      <li><a href="/calendario">Calendario</a></li>
    </ul>
  </nav>
  <main>
    <section>
      <h2>Resultados de los partidos</h2>
      <ul>
        <li>Argentina vs. Alemania (Final)</li>
        <li>...</li>
      </ul>
    </section>
  </main>
  <footer>
    <p>Derechos de autor &copy; 2023 Página de deportes</p>
  </footer>
</body>
</html>